body {
  margin: 0 auto;
  color: #333;
  font-family: "Noto Sans JP";
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  height: 94px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  z-index: 1;
  position: fixed;
  background: #fff;
  width: 100%;
}
header #header_inner {
  display: flex;
  max-width: 1025px;
  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}
@media (max-width: 599px) {
  header #header_inner {
    padding: 0 10px;
  }
}
header #header_logo {
  font-size: 24px;
}
@media (max-width: 599px) {
  header #header_logo {
    font-size: 20px;
  }
}
header #header_logo img {
  vertical-align: middle;
}
@media (max-width: 599px) {
  header #header_logo img {
    width: 15%;
  }
}
header #header_logo a {
  vertical-align: middle;
}
header #menu_btn {
  position: fixed;
  top: 1.3%;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
header #menu_btn span {
  content: "";
  display: block;
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background-color: #333;
  position: absolute;
}
header #menu_btn span:before {
  content: "";
  display: block;
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background-color: #333;
  position: absolute;
  bottom: 9px;
}
header #menu_btn span:after {
  content: "";
  display: block;
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background-color: #333;
  position: absolute;
  top: 9px;
}
@media (min-width: 1025px) {
  header #menu_btn {
    display: none;
  }
}
header #menu_btn_check {
  display: none;
}
header #menu_btn_check:checked ~ #menu_btn span {
  background-color: rgba(255, 255, 255, 0);
}
header #menu_btn_check:checked ~ #menu_btn span:before {
  bottom: 0;
  transform: rotate(45deg);
}
header #menu_btn_check:checked ~ #menu_btn span:after {
  top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 1024px) {
  header #header_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #fff;
    transition: all 0.5s;
  }
}
header #header_menu ul {
  display: flex;
}
@media (max-width: 1024px) {
  header #header_menu ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
header #header_menu ul li {
  list-style: none;
}
header #header_menu ul li:nth-child(2n) {
  margin: 0 40px;
}
@media (max-width: 1024px) {
  header #header_menu ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
}
@media (max-width: 1024px) {
  header #header_menu ul li a {
    display: block;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  header #header_menu ul li a:before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
}
@media (max-width: 1024px) {
  header #header_menu ul {
    padding: 70px 10px 0;
  }
}
@media (max-width: 1024px) {
  header #menu_btn_check:checked ~ #header_menu {
    left: 0;
  }
}

.contact_button {
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 155px;
  height: 37px;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .contact_button {
    display: none;
  }
}

#fv {
  background-image: url("../img/oblong.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 250px 0 200px;
}
#fv #fv_inner {
  display: flex;
  justify-content: space-between;
  max-width: 1025px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  #fv #fv_inner {
    display: block;
  }
}
#fv #fv_inner #fv_txt {
  text-align: left;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  #fv #fv_inner #fv_txt {
    text-align: center;
  }
}
#fv #fv_inner #fv_txt h1 {
  font-size: 32px;
  margin-bottom: 40px;
}
#fv #fv_inner #fv_txt p {
  font-size: 16px;
  margin-bottom: 39px;
}
#fv #fv_inner #fv_img {
  opacity: 0;
  position: relative;
  width: 0px;
}
#feature {
  width: 100%;
}
#feature_inner {
  max-width: 1025px;
  margin: 0 auto;
}
#feature_inner_ttl {
  font-size: 32px;
  margin-bottom: 5px;
}
#feature_inner_ttl_sub {
  color: #3BA6C9;
  font-size: 16px;
  margin: 0;
}
#feature_inner .feature_container_box {
  margin-bottom: 136px;
}
#feature_inner .feature_container_box_ttl {
  margin: 67px 0 54px;
}
#feature_inner .feature_container_box_inner_a, #feature_inner .feature_container_box_inner_b {
  display: flex;
  justify-content: space-between;
}
#feature_inner .feature_container_box_inner_a img, #feature_inner .feature_container_box_inner_b img {
  width: 100%;
}
@media (max-width: 1024px) {
  #feature_inner .feature_container_box_inner_a img, #feature_inner .feature_container_box_inner_b img {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  #feature_inner .feature_container_box_inner_a, #feature_inner .feature_container_box_inner_b {
    display: block;
  }
}
#feature_inner .feature_container_box_inner_a_content, #feature_inner .feature_container_box_inner_b_content {
  text-align: left;
  font-weight: 700;
  line-height: 2;
}
@media (max-width: 1024px) {
  #feature_inner .feature_container_box_inner_a_content, #feature_inner .feature_container_box_inner_b_content {
    text-align: center;
  }
}
@media (max-width: 599px) {
  #feature_inner .feature_container_box_inner_a_content, #feature_inner .feature_container_box_inner_b_content {
    line-height: 1.4;
    padding: 0 4%;
  }
}
#feature_inner .feature_container_box_inner_a_content h3, #feature_inner .feature_container_box_inner_b_content h3 {
  font-size: 24px;
}
#feature_inner .feature_container_box_inner_a_content p, #feature_inner .feature_container_box_inner_b_content p {
  font-size: 16px;
}
#feature_inner .feature_container_box_inner_b {
  flex-direction: row-reverse;
}

#price {
  background: #EEFBFB;
  padding: 40px 0 70px;
}
#price_inner {
  max-width: 1025px;
  margin: 0 auto;
}
#price_inner_ttl {
  font-size: 32px;
  margin-bottom: 5px;
}
#price_inner_ttl_sub {
  color: #3BA6C9;
  font-size: 16px;
  margin: 0;
}
#price_inner_table {
  display: table;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: left;
  font-weight: 700;
  background: #fff;
  line-height: 1.75;
  margin: 73px 0 36px;
}
@media (max-width: 1024px) {
  #price_inner_table {
    width: 90%;
    margin: 73px auto 36px;
  }
}
#price_inner_table table {
  border-collapse: collapse;
  width: 100%;
}
#price_inner_table table td {
  padding: 35px 19px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
#price_inner_table table .table_ttl {
  width: 30%;
}
#price_inner_table table .table_price {
  width: 70%;
  padding-left: 41px;
}

#faq_inner {
  max-width: 1025px;
  margin: 0 auto;
}
#faq_inner_ttl {
  font-size: 32px;
  margin: 100px 0 5px;
}
#faq_inner_ttl_sub {
  color: #3BA6C9;
  font-size: 16px;
  margin: 0;
}
#faq_list {
  font-size: 13px;
  font-weight: 700;
  padding: 70px 20px 100px;
}
@media (max-width: 599px) {
  #faq_list {
    padding: 70px 10px 100px;
  }
}
#faq_list dl {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-top: none;
  margin: 0;
}
#faq_list dt {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 25px 30px;
}
#faq_list dd {
  background: #f2f2f2;
  margin: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}
#faq_list_answer {
  margin: 0;
  padding: 25px 30px;
  text-align: left;
}

#blog {
  background: #EEFBFB;
  padding: 40px 30px 100px;
}
@media (max-width: 599px) {
  #blog {
    padding: 40px 10px 100px;
  }
}
#blog_ttl {
  font-size: 32px;
  margin: 50px 0 5px;
}
#blog_ttl_sub {
  color: #3BA6C9;
  font-size: 16px;
  margin: 0;
}
#blog_content {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
@media (max-width: 1024px) {
  #blog_content {
    display: block;
  }
}
#blog_content .blog_content_box {
  margin: 0 20px;
  width: 33.3333333333%;
  width: -webkit-calk(100%/3);
  max-width: 600px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1024px) {
  #blog_content .blog_content_box {
    width: 100%;
    margin: 30px auto;
    max-width: unset;
  }
}
#blog_content .blog_content_box_img {
  width: 100%;
}
#blog_content .blog_content_box_txt {
  background: #fff;
  font-weight: 700;
  height: 130px;
  padding: 20px 36px 10px 16px;
  position: relative;
}
#blog_content .blog_content_box_txt p {
  margin: 0;
  text-align: left;
}
#blog_content .blog_content_box_txt date {
  position: absolute;
  bottom: 10px;
  right: 16px;
}

#works_inner {
  padding-bottom: 110px;
}
#works_ttl {
  font-size: 32px;
  margin: 70px 0 5px;
}
#works_ttl_sub {
  color: #3BA6C9;
  font-size: 16px;
  margin: 0;
}
#works_container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 70px;
}
#works_container .works_container_box {
  width: 500px;
  margin-right: 56px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
#works_container .works_container_box_img {
  width: 100%;
}
#works_container .works_container_box_content {
  padding: 19px 16px 40px 18px;
  font-weight: 700;
  text-align: left;
  line-height: 0.5;
}
#works_container .works_container_box_content_info {
  margin-top: 40px;
}

#contact {
  background-image: linear-gradient(90deg, #05A5FA, #67FFD6);
  padding: 70px 0;
}
#contact_inner {
  max-width: 1025px;
  margin: 0 auto;
}
#contact_inner #contact_ttl {
  font-size: 32px;
  margin: 0 0 5px;
  color: #fff;
}
#contact_inner #contact_ttl_sub {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
#contact_inner #contact_ttl_txt {
  color: #fff;
  font-size: 16px;
  margin: 44px 0;
}
#contact_form {
  background: #fff;
  padding: 35px 15px;
  font-weight: 700;
  margin: 0 20px;
}
@media (max-width: 599px) {
  #contact_form {
    margin: 0 10px;
  }
}
#contact_form ul {
  padding: 0;
  text-align: left;
}
#contact_form ul li {
  list-style: none;
}
#contact_form ul li label span {
  width: 60px;
  height: 30px;
  background: #0c449b;
  color: #fff;
  margin-left: 20px;
  padding: 5px 16px;
  border-radius: 10px;
}
#contact_form ul li input {
  height: 43px;
  margin: 21px 0 39px;
  background: #eefbfb;
  border: none;
  padding: 8px;
  line-height: 1.5;
  box-sizing: border-box;
}
#contact_form ul li input[type=name], #contact_form ul li input[type=email] {
  width: 100%;
  max-width: 500px;
}
#contact_form ul li input[type=textarea] {
  width: 100%;
  height: 179px;
}
#contact_form ul li input[type=textarea]::placeholder {
  position: absolute;
}
#contact_form ul #form_checkbox {
  text-align: center;
}
@media (max-width: 599px) {
  #contact_form ul #form_checkbox {
    font-size: 14px;
  }
}
#contact_form ul #form_checkbox #confirmation {
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  background: #fff;
  padding: 43px;
}
footer #footer_ttl {
  font-size: 20px;
  font-weight: 700;
}
footer #footer_nav {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 21px;
}
@media (max-width: 599px) {
  footer #footer_nav {
    display: block;
  }
}
footer #footer_nav li {
  list-style: none;
}
footer small {
  padding: 50px 0;
  display: block;
}