@charset "utf-8";

$button-color: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
$box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
$pc: 1024px;
$sp: 599px;


body {
    margin: 0 auto;
    color: #333;
    font-family: "Noto Sans JP";
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

header {
    height: 94px;
    box-shadow: $box-shadow;
    font-weight: bold;
    z-index: 1;
    position: fixed;
    background: #fff;
    width: 100%;
    
    #header_inner {
        display: flex;
        max-width: 1025px;
        text-align: center;
        margin: 0 auto;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        padding: 0 20px;
    }
    
    #header_logo {
        font-size: 24px;
        
        img {
            vertical-align: middle;
        }
        
        a {
            vertical-align: middle;
        }
    }
    
    ul {
        display: flex;
    
        li {
            list-style: none;
            
            &:nth-child(2n){
                margin: 0 40px;
            }
            
        }
    }
}

.contact_button {
        background: $button-color;
        box-shadow: $box-shadow;
        color: #fff;
        border-radius: 10px;
        border: none;
        width: 155px;
        height: 37px;
        font-size: 14px;
        font-weight: 700;
}

#fv {
    background-image: url("../img/oblong.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding: 250px 0 200px;
    
    
    #fv_inner {
        display: flex;
        justify-content: space-between;
        max-width: 1025px;
        margin: 0 auto;
        font-weight: 700;
        line-height: 1.5;
        
        @media(max-width: ($pc)) {
            display: block;
        }
        
        #fv_txt {
            text-align: left;
            padding-left: 20px;
            
            @media(max-width: ($pc)) {
                text-align: center;
            }
            
            h1 {
                font-size: 32px;
                margin-bottom: 40px;
            }
            
            p {
                font-size: 16px;
                margin-bottom: 39px;
            }
        }
        
        img {
            width: 100%;
        }
    }
}

#feature {
    width: 100%;
    
    &_inner {
        max-width: 1025px;
        margin: 0 auto;
        
        &_ttl {
            font-size: 32px;
            margin-bottom: 5px;
        
            &_sub {
                color: #3BA6C9;
                font-size: 16px;
                margin: 0;
            }
        }
        
        .feature_container {
            
            &_box {
                margin-bottom: 136px;
                
                &_ttl {
                    margin: 67px 0 54px;
                }
                
                &_inner_a,
                &_inner_b {
                    display: flex;
                    justify-content: space-between;
                    
                    img {
                        width: 100%;
                    }
                    
                    @media(max-width: ($pc)) {
                        display: block;
                    }
                    
                    &_content {
                        text-align: left;
                        font-weight: 700;
                        line-height: 2;
                        
                        @media(max-width: ($pc)) {
                            text-align: center;
                        }
                        
                        h3 {
                            font-size: 24px;
                        }
                        
                        p {
                            font-size: 16px;
                        }
                    }
                }
                
                &_inner_b {
                    flex-direction: row-reverse;
                }
                
            }
        }
        
    }
}

#price {
    background: #EEFBFB;
    padding: 40px 0 70px;
    
    &_inner {
        max-width: 1025px;
        margin: 0 auto;
        
        &_ttl {
            font-size: 32px;
            margin-bottom: 5px;
            
            &_sub {
                color: #3BA6C9;
                font-size: 16px;
                margin: 0;
            }
        }
        
        &_table {
            display: table;
            width: 100%;
            box-shadow: $box-shadow;
            text-align: left;
            font-weight: 700;
            background: #fff;
            line-height: 1.75;
            margin: 73px 0 36px;
            
            @media(max-width: ($pc)) {
                width: 90%;
                margin: 73px auto 36px;
            }
            
            table {
                border-collapse: collapse;
                width: 100%;
                
                td {
                    padding: 35px 19px;
                    border: 1px solid rgba(0,0,0,0.16);
                }
                
                .table_ttl {
                    width: 30%;
                }
                
                .table_price {
                    width: 70%;
                    padding-left: 41px;
                }
            }
            
        }
    }
}

#faq {
    &_inner {
        max-width: 1025px;
        margin: 0 auto;
        
        &_ttl {
            font-size: 32px;
            margin: 100px 0 5px;
            
            &_sub {
                color: #3BA6C9;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    
    &_list {
        font-size: 13px;
        font-weight: 700;
        padding: 70px 20px 100px;
        
        dl {
            border: 1px solid rgba(0,0,0,0.16);
            border-top: none;
            margin: 0;
        }
        
        dt {
            border-top: 1px solid rgba(0,0,0,0.16);
            padding: 25px 30px;
        }
        
        dd {
            background: #f2f2f2;
            margin: 0;
            border-left: 1px solid rgba(0,0,0,0.16);
            border-top: 1px solid rgba(0,0,0,0.16);
            
        }
        
        &_answer {
            margin: 0;
            padding: 25px 30px;
            text-align: left;
        }
        
    }
}

#blog {
    background: #EEFBFB;
    padding: 40px 30px 100px;
    
    &_inner {
         
    }
     
    &_ttl {
        font-size: 32px;
        margin: 50px 0 5px;
        
        &_sub {
            color: #3BA6C9;
            font-size: 16px;
            margin: 0;
        }
    }
    
    &_content {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        
        @media(max-width: ($pc)) {
            display: block;
        }
        
        .blog_content_box {
            margin: 0 20px;
            width: calc(100% / 3);
            width: -webkit-calk(100% / 3);
            max-width: 600px;
            box-shadow: $box-shadow;
            
            @media(max-width: ($pc)) {
                width: 100%;
                margin: 30px auto;
                max-width: unset;
            }
            
            &_img {
                width: 100%;
            }
            
            &_txt {
                background: #fff;
                font-weight: 700;
                height: 130px;
                padding: 20px 36px 10px 16px;
                position: relative;
                
                p {
                    margin: 0;
                    text-align: left;
                }
                
                date {
                    position: absolute;
                    bottom: 10px;
                    right: 16px;
                }
            }
        }
    }
}

#works {
    &_inner {
        padding-bottom: 110px;
    }
    
    &_ttl {
        font-size: 32px;
        margin: 70px 0 5px;
        
        &_sub {
            color: #3BA6C9;
            font-size: 16px;
            margin: 0;
        }
    }
    
    &_container {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-top: 70px;
        
        .works_container_box {
            width: 500px;
            margin-right: 56px;
            border-radius: 8px;
            border: 1px solid #ddd;
            
            &_img{
                width: 100%;
            }
            
            &_content {
                padding: 19px 16px 40px 18px;
                font-weight: 700;
                text-align: left;
                line-height: 0.5;
                
                &_info {
                    margin-top: 40px;
                }
            }
        }
    }
}

#contact {
    background-image: linear-gradient(90deg, #05A5FA, #67FFD6);
    padding: 70px 0;
    
    &_inner {
        max-width: 1025px;
        margin: 0 auto;
        
        #contact_ttl {
            font-size: 32px;
            margin: 0 0 5px;
            color: #fff;
            
            &_sub {
                color: #fff;
                font-size: 16px;
                margin: 0;
            }
            
            &_txt {
                color: #fff;
                font-size: 16px;
                margin: 44px 0;
            }
        }
    }
    
    &_form {
        background: #fff;
        padding: 34px 62px 35px 63px;
        font-weight: 700;
        margin: 0 20px;
        
        ul {
            padding: 0;
            text-align: left;
            
            li {
                list-style: none;
                
                label {
                    span {
                        width: 60px;
                        height: 30px;
                        background: #0c449b;
                        color: #fff;
                        margin-left: 20px;
                        padding: 5px 16px;
                        border-radius: 10px;
                    }
                }
                
                input {
                    height: 43px;
                    margin: 21px 0 39px;
                    background: #eefbfb;
                    border: none;
                    padding: 8px;
                    line-height: 1.5;
                    
                    &[type="name"],
                    &[type="email"] {
                        width: 100%;
                        max-width: 500px;
                    }
                    
                    &[type="textarea"] {
                        width: 100%;
                        height: 179px;
                        
                        &::placeholder {
                            position: absolute;
                        }
                    }
                }
            }
            
            #form_checkbox {
                text-align: center;
                
                #confirmation {
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }
}

footer {
    background: #fff;
    padding: 43px;
    
    #footer_ttl {
        font-size: 20px;
        font-weight: 700;
    }
    
    #footer_nav {
        display: flex;
        justify-content: center;
        font-weight: 700;
        margin-top: 21px;
        
        li {
            list-style: none;
        }
    }
    
    small {
        padding: 50px 0;
        display: block;
    }
}